*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
  
}
.contenair{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10%;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    
}
.logo{
    display: flex;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu li{
    margin: 0 15px;
    list-style: none;
}
.menu li a {
    font-size: 18px;
    text-decoration: none;
    color: #777777;
    position: relative;
    transition: color 0.3s;
}
.menu li a:hover{
    color: #007bff;
}

button{
    background-color:#0056b3;
    padding: 10px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    border: 0;
    border-radius: 5px;
    color:#f8fafc ;
}
button a{
    color: #f0f0f0;
    text-decoration: 0;
}
hr{
    color: silver;
    margin-top: 10px;
    border: 1px solid;
}


/* acceuil home CSS */


#home {
    margin-top: 0;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: calc(100vh - 50px);
    justify-content: space-between;
}
#home .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home .left h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 5px;
}
#home .left h1 span{
    color: #ffd700;
}
#home .left p{
    margin-bottom: 5px;
    margin-top: 2px;
    color: #777777 ;
}
#home .left .btn {
    display: flex;
    margin-top: 70px;
    gap: 90px;
}
.btn button {
    width: 35%;
    height: 25%;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
}


#home .right {
    width: 40%;
    
}
#home .right img{
    width: 100%;
    border-radius: 50px;
}
/*  services CSS */

#services {
    display: flex;
    background-color: #007bff;
    justify-content: center;  
    height: 30vh;
}

.ourservice {
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.titel{
    margin-right: 110px;
    margin-top: 50px;
    color: #ffffff;
    padding-top:15px;
    font-size: 25px;
}
.steps {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
    padding: 40px;
}

.step {
    background-color: #fff; 
    border-radius: 15px; 
    margin-right: 30px;  
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.step:last-child {
    margin-right: 0;
}

.step-content {
    padding: 25px;
}

.step img {
    margin-right: 10px; 
    padding: 10px;
    margin: 3px;
}



#serviceprovide {
    display: flex; 
}

.provide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.provideimg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; 
    padding-left: 250px; 
    padding-bottom: 50px;
    border-right: 1px solid #ccc; 
    border-radius: 55px 0px;
}

.provideimg img {
    max-width: 100%; 
    display: flex; 
    position: relative;
    padding-left: 90px;
    padding-top: 70px;
    margin-left: 90%;
    margin: 0 auto; 
}


.providecheck {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    padding-bottom: 50px;
    padding-top: 50px;
}
.providecheck h3{
    position: relative;
    bottom: 90px;
    left: 250px;
    white-space: nowrap;
    
}


.providecheckleft {
    padding-right: 10%;
}

.providecheckright {
    padding-right: 10px; 
}

.providecheck p {
    display: flex; 
    align-items: center;
    white-space: nowrap;
    padding: 10px 10px;
    font-size: 20px; 
}

.providecheck img {
    margin-right: 10px; 
}


 /* we are special Css  */

 #special {
    margin: 50px;
    padding: 20px;
}
#special h1 {
    text-align: center;
    font-size: 45px;
}
#special h1 span{
    color: #ffd700;
}

#sectionus {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 35px; 
    margin: 35px 100px;
}

.usmorespecial {
    text-align: center;
    background: #f8fafc;
    border-radius: 15px;
    padding: 10px;

}
.usmorespecial h4{
    font-size: 18px;
    margin-top: 5px;
}
.usmorespecial p{
    color: #777777;
    margin-top: 15px;
}



/* about us CSS */

#aboutus{
   height: 100vh; 
   display: contents;

}
#aboutus .title{
    margin-top: 25px;
}
#aboutus .title h1 {
    text-align: center;
    font-size: 45px;
}
#aboutus .title h1 span{
     color: #ffd700;
}

#aboutus .ourhistory{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

#aboutus .ourhistory .left img{
    border-radius: 15px;
    width: 80%;
}
#aboutus .ourhistory .right{
    background: #f8fafc;
    border-radius: 20px;
    border: 1px solid #f8fafc;
}
#aboutus .ourhistory .right h5{
    margin-top: 55px;
    margin-bottom: 50px;
    margin-left: 45px;
    font-size: 30px;
}
#aboutus .ourhistory .right p{
    margin: 20px 45px;
    font-size: 18px;
    color: #777777;
    line-height: 2;
}


/* our doctors section CSS */

#ourdoc{
    width: 100%;
    height: 100%; 
}


#ourdoc .ourdoctors .titel h1{
     text-align: center;
     font-size: 45px;
     color: black;
}

#ourdoc .ourdoctors .titel h1 span{
    color: #ffd700;
}

#ourdoc .ourdoctors .doc{
    display: flex;
    justify-content: space-around;
    padding: 90px 50px;
    
}
#ourdoc .ourdoctors .doc .dr{
    border: solid 1px silver;
    border-radius: 5px;
    
}

#ourdoc .ourdoctors .doc .dr img {
    padding: 15px;
    margin: 15px;
}
#ourdoc .ourdoctors .doc .dr h3{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
}
#ourdoc .ourdoctors .doc .dr p{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: #777777;
}
#ourdoc .ourdoctors .doc .dr button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:transparent; 
    color:#007bff; 
    border: 1px solid #007bff; 
    padding: 18px 39px ; 
    margin-left: 55px;
    border-radius: 12px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}
#ourdoc .ourdoctors .doc .dr button a{
    color: #007bff;
}


/* appointment section */


#appoinment .titel{
    color: black;
}
#appoinment .titel  h1{
   text-align: center;
   font-size: 45px;
}

#appoinment .appoinment{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#appoinment .appoinment .right img{
    width: 405px;
    border-radius: 10px;
}
#appoinment .appoinment .left form{
    display: flex;
    flex-direction: column;
}

.form-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.left label {
     margin-bottom: 10px;
     padding-top: 10px;
}
.left input[type="text"],
.left select,
.left input[type="date"] {
    width: 100%;
    background: transparent;
    padding: 14px;
    padding-left: 50px;
    margin-left: 5px;
    border-radius: 5px;
}

#appoinment .appoinment .left form textarea{
    margin-top: 15px;
    border-radius: 9px;
}
#appoinment .appoinment .left form button{
    margin-top: 55px;
    background-color: #516eff;
    padding: 10px;
}


/* Subscrib section */

#subscrib{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8fafc;
    height: 45vh;
}
#subscrib .subscribe{
    background-color: #216583;
    flex-direction: column;
    height: 75%;
    width: 150vh;
    border-radius: 25px;
}
#subscrib .subscribe .tittel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 6%;
    color: #f8fafc;
    font-size: 25px;
}
#subscrib .subscribe .btnn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#subscrib .subscribe .btnn input{
    background-color: #6393a8;
    color:#f8fafc ;
    padding: 10px;
    border-radius: 8px;
}
#subscrib .subscribe .btnn button {
    background-color:white;
    border-radius: 8px;
    padding-left: 60px;
    padding-right: 60px;
    color: black; 
}

/* How to find us */

#dentics{
    background-color: #516eff;
}
#dentics .container {
    display: flex;
    justify-content: space-around;
    color: #f0f0f0;
}
#dentics .container .logo2 {
    margin-top: 100px;
    
}
#dentics .container .logo2 img{
    margin-bottom: 50px;
    filter: brightness(0) invert(1);
}
#dentics .container .logo2 p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px ;
}
#dentics .container .tovisit {
    margin-top: 100px;
}
#dentics .container .tovisit p{
    margin-bottom:28px ;
    margin-top: 20px;
}
#dentics .container .tovisit h3 {
    margin-bottom:8px ;
    font-size: 25px;
}
#dentics .container .social{
    margin-top: 100px;
}

#dentics .container .social p{
    margin-top: 20px;
}
.support{
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 35px;
}
.support p a{
   text-decoration: 0;
   color: #f0f0f0;
}

#dentics .container .hello{

    margin-top: 110px;
}
#dentics .container .hello p:first-child {
   margin-bottom: 45px;
}
#dentics .container .hello .hel{
    margin-bottom: 35px;
}

#dentics .container hr{
    height: 300px;
    margin-top: 60px;
  color: silver;
}

footer{
    background-color: #216583;
    color: #f0f0f0;
    height: 8vh;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

/* sign up */
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .form{
    width: 25%;
    margin-top: 6%;
    margin-left: 10%;
}
main .form h1{
    font-size: 42px;
    margin: 20px 0px;
}
main .form h1 span{
    color: #ffd700;
}
main .form form{
    display: grid;
    gap: 5px;
}
main .form form input{
    height: 45px;
    border-color:#007bff ;
    border-radius: 5px;
    margin-bottom: 19px;
}
main .form form label{
    margin-left: 10px;
}
main .form h4{
    text-align: end;
    margin-top: 15px;
}
main .form h4 a{
    text-decoration: none;
    color: #007bff;
}
main .image{
    width: 39%;
    margin-top: 6%;
}
main .image img{
    width: 100%;
}
.toggle_menu {
    display: none;
}


/* Responsive */
@media (max-width:964px) {
    header .menu {
        display: none;
    }
    .toggle_menu {
        display: flex;
        height: 50px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    } 
     .toggle_menu::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #516eff;
        border-radius: 6px;
        box-shadow: 0 10px 0 #516eff;
        transform: translateY(-10px);
        transition: 0.5s;
    } 
     .toggle_menu.active::before {
        transform: translate(0)  rotate(135deg);
        box-shadow: 0 0 0 #516eff;
    } 
    .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #516eff;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .toggle_menu.active::after {
        transform: translate(0)  rotate(-135deg);
        
    } 
    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgb(0,0,0,0.1);
        flex-direction: column;
    }
    header .menu.responsive li {
        margin: 15px 0;
    }
    header {
        padding: 0 20px;
    }
    #home {
        flex-direction: column;
        padding: 12px;
        height: fit-content;
    }
    #home .left , #home .right {
        width: 100%;
        padding: 0;
       
    }
    #home .left {
        margin: 100px 0;
    }
    #home .left h1 {
        font-size: 35px;
        margin-bottom: 15px;
        text-align: center;
    }
   
    #home .left p {
        text-align: center;
        font-size: 15px;
    }
    #home .left button{
        width: 400px;
        text-align: center;
    }
    #home .right img{
        width: 420px;
    }
    #services{
        flex-direction: column;
        padding: 12px;
        height: fit-content;
    }
    #services .ourservice{
        flex-direction: column;
    }
    #services .ourservice .titel{
        text-align: center;
        margin-left: 30px;
    }
    #services .ourservice .titel h2{
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
    }
    #services .ourservice .titel p{
        font-size: 20px;
    }
    #services .ourservice.steps{
        justify-content: center;
        align-items: center;
    }
    #serviceprovide{
        flex-direction: column;
        padding: 12px;
        height: fit-content;
    }
    #serviceprovide .provide{
        flex-direction: column;
    }
    #serviceprovide .provide .provideimg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #serviceprovide .provide .providecheck{
        flex-direction: column;
    }
    #serviceprovide .provide .providecheck h3{
        display: contents;
    }
    #serviceprovide .provide .providecheck .providecheckleft {
        margin-top: 20px;
    }
    

    #special h1{
        font-size: 35px;
        align-items: center;
    }
    #sectionus {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
      
      .usmorespecial {
        flex: 1 1 30%;
        box-sizing: border-box;
        margin: 10px;
    }
    #aboutus .title h1{
        font-size: 35px;
    }
    
    .ourhistory{
        flex-direction: column;
        align-items: center;
    }
    .ourhistory .left{
        display: flex;
        justify-content: center;
    }
    .ourhistory .right{
        margin: 5%;
    }
    #ourdoc .ourdoctors .titel h1{
        font-size: 32px;
        align-items: center;
        margin-left: 19%;
    }
     
      #ourdoc .ourdoctors .doc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
      }
      #ourdoc .ourdoctors .doc .dr{
        margin-bottom: 5%;
      }

      .appoinment {
        flex-direction: column;
        align-items: center;
      }

      .appoinment .right {
        order: -1;
        margin-bottom: 10%;
      }
      .appoinment .left{
        margin-bottom: 10%;
      }
      .appoinment .left .form-group{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       
      }
      .subscribe .tittel h2{
        font-size: 25px;
      }
      .subscribe .btnn form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }
      #dentics{

      }
      #dentics .container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
      }
      #dentics .container hr{
        /* transform: rotate(90deg); */
        display: none;
      }
      #dentics .container.logo2{
        border-bottom: 10px solid silver;
      }
      .name {
        flex: 1 1 100%;
      }
      main .form {
        width: 100%;
        justify-content: center;
        margin-left: 19%;
        align-items: center;
      }
      main .form h1{
        margin-left: 25%;
      }
      main .image img{
        display: none;
      }
}

